@import url('https://rsms.me/inter/inter.css');

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  font-family: inter;
  background: #2a1152;
}

.side-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #030303;
  color: #ffffff;
  padding: 40px;
  overflow: auto;
  flex-direction: column;
  display: none;
}

.side-panel.open {
  display: flex;
}

.nav {
  display: flex;
  padding: 20px 30px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.chainSelect:hover {
  color: grey;
  transform: scale(1.4);
}

.chain-name {
  margin-top: 5px;
  border-bottom: 4px solid #6761E9;
  width: 150px;
  padding-bottom: 12px;
}

.app {
  background-image: url('./media/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.canvas__container {
  display: flex;
  color: #FFFFFF;
}

.canvas__container span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.02em;
}
.canvas__container h1 {
  font-size: 64px;
  margin-bottom: 5px;font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  line-height: 73px;
  letter-spacing: -0.02em;
}

.stat span {
  color: #8F9BBA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

.stat h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.card {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height, or 184% */
  
  letter-spacing: -0.02em;
}

.card__header {
  color: #8F9BBA;
  font-weight: 500;
  font-size: 14px;
}

table, th, tr, td {
  border: none;
}

.stats-widget {
  border-left: #6761E9 4px solid;
  border-bottom: #6761E9 4px solid;
  width: 200px;
  height: 97px;
  padding: 20px 20px 10px;
  margin-bottom: 30px;
}

.stats-panel {
  border-color: #141414;
  border-radius: 3px;
  background: black;
  width: 400px;
  min-height: 794px;  
  padding: 20px;
}

table {
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
}